.home_topsellers {
  background-color: black;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  padding-left: 12rem;
  padding-right: 12rem;
}

.home_topsellers_title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.home_topsellers_title_container h1 {
  font-size: 50px;
}
.home_topsellers_title_seeall {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_topsellers_title_seeall p {
  text-decoration: underline;
  font-size: 20px;
}
.seeAll-icon {
  width: 40px;
  height: 40px;
}


.home_topsellers_display_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_topsellers_display{
  display: grid;
  width: 100%;
  grid-template-columns: 47.5% 47.5%;
  grid-row-gap: 20px;
  grid-column-gap: 5%;
  margin-top: 3rem;
}
.home_topsellers_sellers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #2D3154;
  color: white;
  width: 100%;
  padding: 15px 0;
}
.home_topsellers_sellers_profil_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_topsellers_sellers_profil_container p {
  font-weight: bold;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
.home_topsellers_sellers_profil_container img {
  width: 60px;
  height: 60px;
}
.home_topsellers_sellers_profil_description {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home_topsellers_sellers_profil_description h2 {
  letter-spacing: 1px;
  margin-bottom: 2px;
}
.home_topsellers_sellers_profil_description h3 {
  color: #C4C6D5;
  font-weight: 400;
}
.home_topsellers_sellers_amount_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 15px;
}
.home_topsellers_sellers_amount_ETH_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_topsellers_sellers_amount_ETH_container img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.home_topsellers_sellers_amount_ETH_container h1 {
  font-size: 28px;
}
.home_topsellers_sellers_amount_USD_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_topsellers_sellers_amount_USD_container h3 {
  color: #C4C6D5;
  margin-right: 20px;
  font-weight: 400;
}
.home_topsellers_sellers_amount_USD_container p {
  font-weight: bold;
  color: #09A000;
}






@media screen and (max-width: 1500px) {
  .home_topsellers {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .home_topsellers_display{
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    grid-column-gap: 0;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .home_topsellers {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0;
  }
  .home_topsellers_title_container h1 {
    font-size: 30px;
  }
  .home_topsellers_title_seeall p {
    font-size: 15px;
  }
  .seeAll-icon {
    width: 30px;
    height: 30px;
  }
  .home_topsellers_sellers_profil_container p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .home_topsellers_sellers_profil_container img {
    width: 40px;
    height: 40px;
  }
  .home_topsellers_sellers_profil_description {
    margin-left: 15px;
  }
  .home_topsellers_sellers_profil_description h2 {
    letter-spacing: 1px;
    margin-bottom: 2px;
    font-size: 20px;
  }
  .home_topsellers_sellers_amount_ETH_container img {
    width: 30px;
    height: 30px;
  }
  .home_topsellers_sellers_amount_ETH_container h1 {
    font-size: 20px;
  }
  .home_topsellers_sellers_amount_USD_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .home_topsellers_display{
    grid-row-gap: 10px;
  }
  .home_topsellers {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .home_topsellers_sellers {
    padding: 10px 0;
  }
  .home_topsellers_sellers_profil_container p {
    font-weight: bold;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .home_topsellers_sellers_profil_container img {
    width: 30px;
    height: 30px;
  }
  .home_topsellers_sellers_profil_description {
    margin-left: 15px;
  }
  .home_topsellers_sellers_profil_description h2 {
    letter-spacing: 1px;
    margin-bottom: 2px;
    font-size: 10px;
  }
  .home_topsellers_sellers_profil_description h3 {
    font-size: 15px;
  }
  .home_topsellers_sellers_amount_ETH_container img {
    width: 10px;
    height: 10px;
  }
  .home_topsellers_sellers_amount_ETH_container h1 {
    font-size: 10px;
  }
  .home_topsellers_sellers_amount_USD_container h3 {
    margin-right: 5px;
    font-size: 15px;
  }
}

@media screen and (max-width:400px) {
  .home_topsellers_sellers_profil_description h3 {
    font-size: 10px;
  }
  .home_topsellers_sellers_amount_ETH_container {
    margin-bottom: 2px;
  }
  .home_topsellers_sellers_amount_ETH_container img {
    margin-left: 5px;
  }
  .home_topsellers_sellers_amount_USD_container {
    flex-direction: column;
  }
  .home_topsellers_sellers_amount_USD_container h3 {
    font-size: 10px;
    margin-bottom: 2px;
  }
  .home_topsellers_sellers_amount_USD_container p {
    font-size: 10px;
  }
}