* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'HelveticaNeue';
}
a {
  color: unset;
  text-decoration: none;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("./fonts/HelveticaNeueCyr-Thin.ttf") format('ttf'),
  url("./fonts/HelveticaNeueCyr-Thin.woff") format('woff');
}